* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.test1 {
    min-width: 100px;
    min-height: 90vh;
    /* border: solid 1px green; */
}

.table-striped tbody tr:nth-child(2n) {
    background-color: rgb(27, 222, 236);
}

.table-striped tbody tr:nth-child(2n+1) {
    background-color: aquamarine;
}

.table-striped tbody tr td {
    padding-top: 1rem;
    padding-bottom: .5rem;
}

.header {
    display: flex;
    justify-content: center;
    text-align: center;
}